@charset "UTF-8";
:root {
  --black: #212427;
  --green: #03a64a;
  --ash: #999999;
  --silver: #efefef;
  --star-size: 17px;
  --star-color: #b6b6b6;
  --star-background: #03a64a;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 15%);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1440px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}


.logo__bar {
  color: var(--black);
  padding: 15px 0px;
  font-size: 16px;
}
.logo__bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo__bar button {
  display: none;
}
.logo__bar--menu {
    display: flex;
    align-items: center;
    gap: 70px;
}
.welcome__section {
    text-align: center;
    background-image: url(../img/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0px;
    position: relative;
}
.welcome__section::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    content: '';
}
.welcome__section .container{
  position: relative;
  z-index: 1;
  color: #fff;
}
.welcome__section h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
}
.welcome__section h1 span{
    display: block;
    color: var(--green);
}
.welcome__section .subtext {
    font-size: 18px;
    text-transform: uppercase;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 60px;
}
.welcome__section .subtext span{
  color: var(--green);
}
.feature__flex {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.feature__box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    color: #000;
    margin: 60px 0px 80px;
    padding: 20px 20px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid var(--black);
    text-align: left;
    line-height: 19px;
    min-width: 180px;
}
.welcome__text {
    text-align: center;
    padding: 50px 0px;
    width: 50%;
    margin: 0 auto;
}
.welcome__text h3{
    font-size: 38px;
    font-weight: 700;
    color: var(--green);
    margin-bottom: 12px;
}
.bottom__text {
    text-align: center;
    padding: 50px 0px 80px;
    width: 85%;
    margin: 0 auto;
}
.bottom__text h3{
    font-size: 38px;
    font-weight: 700;
    color: var(--green);
    margin-bottom: 12px;
}
.info__section{
  background-color: var(--silver);
}
.info-flex {
    display: flex;
    gap: 20px;
    padding: 60px 0px;
}
.info__box {
  flex: 1;
    background: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding: 20px 20px;
}
.info__box img{
  margin: 0 auto;
  margin-bottom: 10px;
}
.info__box h3{
  text-transform: uppercase;
  color: var(--green);
  font-weight: bold;
  margin-bottom: 10px;
}
.letter-p {
    display: flex;
    margin: 50px 0px;
    justify-content: center;
}
.welcome__text .letter-p {
    margin-bottom: 0px;
    margin-top: 35px;
}
section.info__swiper {
    display: none;
}
/* ====== Cards Section ======= */
.cards__section {
  padding: 0px 0px 40px;
  position: relative;
}
.lifted__top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #efefef;
}
.cards__section {
    padding: 0px 0px 10px;
    position: relative;
}
.card__each {
  position: relative;
  display: flex;
  background: #fff;
  padding: 30px 40px;
  justify-content: space-between;
  border: 1px solid var(--black);
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 300ms;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-bottom: 75px;
}
.card__each:last-of-type{
  margin-bottom: 50px;
}
.card__name {
    flex-shrink: 0;
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px solid #ddd;
    margin-right: 40px;
    padding-right: 40px;
}
.card__name > h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: var(--green);
}
.card__details ul {
  margin-top: 10px;
  list-style-type: disc;
  list-style-position: inside;
  text-transform: uppercase;
}
.bottom__bar {
    position: absolute;
    left: 0px;
    bottom: -45px;
    background: #F9F9F9;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    justify-content: space-between;
    width: 80%;
    border-radius: 150px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    left: 50%;
    margin-left: -40%;
}
.icon-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-cta > a {
    display: flex;
    background: var(--green);
    color: #fff;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 55px;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
}
.card__details > a{
  display: none;
}
.home-slide {
    height: 80vh;
    background-image: url(../img/home-slider-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-slide.h-slide-2{
background-image: url(../img/home-slider-2.jpg);
}
.home-slide.h-slide-3{
background-image: url(../img/home-slider-3.jpg);
}
.home-slide .container {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgba(0,0,0,0.7);
    padding: 20px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.home-slide h3{
  font-size: 38px;
  font-weight: 700;
}
.home-slide p{
  width: 55%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
}
.swiper-button-next{
  right: 10%;
} .swiper-button-prev {
  left: 10%;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 16px;
    color: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 30px;
}
.swiper-pagination-bullet {
    background: #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity:  1;
    background: var(--green);
}
/* ====== Footer ======= */
footer {
  padding: 60px 0px 80px;
  background-color: var(--black);
  color: var(--ash);
}
.footer__flex {
  display: flex;
  gap: 90px;
}
.logo__copyright {
  flex-basis: 20%;
  flex-shrink: 0;
}
.logo__copyright p {
  margin-top: 36px;
  font-size: 14px;
  line-height: 26px;
}
.footer__texts {
  flex-basis: 65%;
}
.footer__menu ul {
  display: flex;
  gap: 20px;
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 0.3px;
  margin-bottom: 40px;
}
.footer__terms {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.footer__disclosure {
  font-size: 12px;
  line-height: 20px;
}
.footer__disclosure span {
  display: block;
  font-weight: bold;
}
.copyright__bottom {
  display: none;
}
/* ============================== 
 ------- about us --------------
 ============================== */
 
.about__page .welcome__section {
  padding: 90px 0px;
    background-image: url(../img/about-welcome-bg.jpg);
}
.about__page .welcome__section  .letter-p {
    margin-bottom: 0px;
}
.about__page .feature__box {
  padding: 25px 20px;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.about__page .feature__box h3{
    font-size: 38px;
    font-weight: bold;
    color: var(--green);
}
.bottom__text .letter-p{
  margin-top: 60px;
  margin-bottom: 0px;
}
.why__dm__toptext ,
.why__dm__bottomtext {
    padding: 80px 0px;
}
.why__dm__toptext > h3 {
    text-align: center;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 60px;
    color: var(--green);
}
.toptext__flex {
    display: flex;
    gap: 50px;
}
.toptext__flex .toptext h3,
.why__dm__bottomtext h3{
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}
.why__dm__bottomtext{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.about__featuretext .welcome__section{
  padding: 80px 0px;
  background-image: url(../img/about-bottom-bg.jpg);
}
.about__featuretext .feature__box {
  flex-direction: row;
    margin-bottom: 0px;
}
.why-dm-xl{
  display: block;
  width: 100%;
}
.why-dm-xs{
  display: none;
}
/* ============================== 
-------- Media Queris --------
 ============================== */
@media (max-width: 767px) {
  .container {
    width: calc(100% - 32px);
  }
  .logo__bar .container {
    flex-wrap: wrap;
  }
  .logo__bar button {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
}
.logo__bar button.active{
  transform: rotate(180deg);
}
  .logo__bar--menu {
    text-align: center;
    padding: 10px 0px;
    display: none;
    width: 100%;
  }
  .logo__bar--menu a {
    display: block;
    text-align: left;
    padding: 10px 0px;
    border-bottom: 1px dashed #dfdfdf;
    width: 100%;
}
  .welcome__section {
    padding: 60px 0px;
    background-position: 68% 0%;
}
  .feature__flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 345px;
    margin: 50px auto 50px;
}
.feature__box {
    gap: 8px;
    margin: 0px;
    padding: 12px 8px;
    line-height: 16px;
    min-width: auto;
    font-size: 14px;
    flex-direction: column;
    width: 105px;
    height: 105px;
    text-align: center;
    justify-content: end;
}
.feature__box img {
    width: 36px;
    height: 36px;
}
.letter-p {
    margin: 30px 0px;
}
.welcome__section h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
}
.welcome__section .subtext {
    font-size: 16px;
    margin-bottom: 30px;
    width: 100%;
}
.welcome__text {
    width: 100%;
}
.welcome__text h3 {
    font-size: 30px;
}
.welcome__text p {
    font-size: 14px;
}
.welcome__text .letter-p {
    margin-bottom: 0px;
    margin-top: 32px;
}
.info__section {
    display: none;
}
.info__swiper {
    padding: 0px 0px 30px;
    background: #efefef;
}
.info__swiper .swiper-slide {
    padding: 20px;
    margin-bottom: 20px;
    min-height: 340px;
}
.swiper-button-next.next-info-sm, .swiper-button-prev.prev-info-sm {
    top: 98%;
}
.info__swiper .swiper-horizontal>.swiper-pagination-bullets, 
.info__swiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
.info__swiper .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
}
  .card__each {
    flex-direction: column;
    width: 100%;
    padding: 30px 20px 60px;
    margin-bottom: 70px;
  }
  .card__name {
    gap: 10px;
    margin-right: 0px;
    padding-right: 0px;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 10px;
    border: none;
}
.card__details ul {
    font-size: 14px;
}
.icon-cta img {
    width: 40px;
}
.card__name > h3 {
    font-size: 28px;
}
.card__details > a {
    display: flex;
    background: var(--green);
    color: #fff;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 55px;
    justify-content: center;
    border-radius: 4px;
    gap: 10px;
    width: 65%;
    margin: 25px auto 20px;
}
.icon-cta a {
    display: none;
}
.bottom__bar {
    bottom: -32px;
    padding: 20px 32px;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    gap: 30px;
}
.bottom__bar div:nth-child(4),
.bottom__bar div:nth-child(5){
  display: none;
}
  .cards__block {
    flex-basis: 100%;
  }
  .card__logo {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .card__logo > img {
    width: 100px;
  }
  .card__deatils h3,
  .card__deatils p {
    display: none;
  }
  .card__deatils ul li {
    font-size: 12px;
    margin: 8px 0px;
    gap: 4px;
  }
  .bottom__text {
    padding: 50px 0px 50px;
    width: 100%;
}
.bottom__text h3 {
    font-size: 28px;
    line-height: 36px;
}
.bottom__text p {
    font-size: 14px;
}
.home-slide {
    height: 60vh;
    background-position: center;
}
.home-slide .container {
    padding: 20px 5%;
}
.home-slide h3 {
    font-size: 28px;
    line-height: 36px;
}
.home-slide p {
  font-size: 14px;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 10px;
    color: var(--green);
}
.swiper-button-next, .swiper-button-prev {
  top: 90%;
}
.swiper-button-next{
  right: 35%;
} .swiper-button-prev {
  left: 35%;
}
  .footer__flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .logo__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo__copyright p {
    display: none;
  }
  .footer__menu ul {
    margin-top: 20px;
    gap: 12px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__menu ul li {
    flex-basis: 40%;
  }
  .footer__terms,
  .footer__disclosure {
    text-align: center;
  }
  .copyright__bottom {
    display: block;
    text-align: center;
    margin-top: 36px;
    font-size: 14px;
    line-height: 26px;
  }
  .about__page .welcome__section {
    padding: 50px 0px;
    background-position: 68% 0%;
    overflow: hidden;
}
  .about__page .welcome__section h1 span{
    display: inline;
  }
  .feature__flex.about__feature__flex {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 15px;
    margin: 50px -20px 50px;
    overflow-x: scroll;
    padding-left: 20px;
    width: 900px;
}
.feature__flex.about__feature__flex .feature__box {
    flex-shrink: 0;
    flex-basis: 250px;
}
.why__dm__toptext > h3 {
    font-size: 30px;
    margin-bottom: 30px;
    
}
.toptext__flex {
    flex-direction: column;
}
.toptext {
    text-align: center;
}
.toptext__flex .toptext h3, .why__dm__bottomtext h3 {
    font-size: 24px;
    line-height: 28px;
}

.why__dm__toptext, .why__dm__bottomtext {
    padding: 50px 0px;
}
.why__dm__bottomtext {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}
.why-dm-xl{
  display: none;
}
.why-dm-xs{
  display: block;
  width: 100%;
}
.bottom__text .letter-p {
    margin-top: 45px;
}
.about__featuretext {
  margin-bottom: 0px;
}
.about__featuretext .feature__flex{
  margin-bottom: 0px;
}
.about__featuretext .feature__box {
    flex-direction: column;
    flex: none;
}
}
